[Unit]
Description=gsissh per-connection server daemon
Documentation=man:sshd(8) man:sshd_config(5)
Wants=gsisshd-keygen.service
After=gsisshd-keygen.service

[Service]
EnvironmentFile=-/etc/sysconfig/gsisshd
ExecStart=-/usr/sbin/gsisshd -i $OPTIONS
StandardInput=socket
