[Unit]
Description=gsissh Server Key Generation
ConditionPathExists=|!/etc/gsissh/ssh_host_rsa_key
ConditionPathExists=|!/etc/gsissh/ssh_host_ecdsa_key
ConditionPathExists=|!/etc/gsissh/ssh_host_ec25519_key
PartOf=gsisshd.service gsisshd.socket

[Service]
ExecStart=/usr/sbin/gsisshd-keygen
Type=oneshot
RemainAfterExit=yes
