[Unit]
Description=gsissh per-connection server daemon
Documentation=man:gsisshd(8) man:gsisshd_config(5)
Wants=gsisshd-keygen.target
After=gsisshd-keygen.target

[Service]
EnvironmentFile=-/etc/crypto-policies/back-ends/opensshserver.config
EnvironmentFile=-/etc/sysconfig/gsisshd
ExecStart=-/usr/sbin/gsisshd -i $OPTIONS $CRYPTO_POLICY
StandardInput=socket
