[Unit]
Description=gsissh server daemon
After=network.target gsisshd-keygen.service
Wants=gsisshd-keygen.service

[Service]
EnvironmentFile=/etc/sysconfig/gsisshd
ExecStart=/usr/sbin/gsisshd -D $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
