[Unit]
Description=gsissh server daemon
Documentation=man:gsisshd(8) man:gsisshd_config(5)
After=network.target gsisshd-keygen.target
Wants=gsisshd-keygen.target

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/sshd-permitrootlogin
EnvironmentFile=-/etc/sysconfig/gsisshd
ExecStart=/usr/sbin/gsisshd -D $OPTIONS $PERMITROOTLOGIN
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
