[Unit]
Description=gsissh Server Key Generation
ConditionFileNotEmpty=|!/etc/gsissh/ssh_host_rsa_key
ConditionFileNotEmpty=|!/etc/gsissh/ssh_host_ecdsa_key
ConditionFileNotEmpty=|!/etc/gsissh/ssh_host_ed25519_key
PartOf=gsisshd.service gsisshd.socket

[Service]
ExecStart=/usr/sbin/gsisshd-keygen
Type=oneshot
RemainAfterExit=yes
